*, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

body,html {
    margin: 0;
    padding: 0;
    color: #f5f5f4;
    overflow: auto;
}
* {
    box-sizing: border-box;
}
ul, ol {
    padding: 0;
    margin: 0; 
}
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Caveat', cursive;
    display: grid;
    gap: 72px;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    grid-template-rows: auto 1fr;
    grid-template-columns: 800px;
    background-image: url('./oven.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    font-size: 100px;
    margin: 0;
    padding: 0;
    cursor: default;
    text-align: center;
}
.text-box {
    background-color: rgba(0, 0, 0, 0.75);
}
#nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    min-height: 4em;
    font-size: 32px;
}
#nav li {
    flex: 1;
    cursor: pointer;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.home {
    align-self: start;
    font-size: 48px;
    padding: 24px;
    word-spacing: 10px;
}
.active {
    text-decoration: underline;
}
.menu-item {
    display: grid;
    grid-template-columns: auto 1fr;
}
.menu-item-title {
    grid-column: 1;
    grid-row: 1;
}
.menu-item-price {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
}
.menu-item-description {
    grid-column: 1 / span 2;
    grid-row: 2;
    color: #d4d4dd;
    font-size: 32px;
}
.menu-item {
    margin-bottom: 1.2em;
}
.menu-item:last-child {
    margin-bottom: 0;
}
.contact {
    font-size: 36px;
}